<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}SPIT UP{{else}}EAT ME{{/if}}
	</button>

	<button class="delete-eaten" data-id="{{this.id}}">DELETE!</button>
</li>
